[submodule "docsh"]
	path = docsh
	url = https://github.com/tim-montmorency/docsh.git
	branch = main
[submodule "godot-ci-build-system"]
	path = godot-ci-build-system
	url = https://github.com/gllmAR/godot-ci-build-system.git
[submodule "godot-demo-projects"]
	path = godot-demo-projects
	url = https://github.com/godotengine/godot-demo-projects
